<template>

    <div>
     <div id="login-cloak">

                    <div class="left-pane">
                        <div class="keyhole">
                            <div class="outer-circle">
                              <div class="inner-circle">
                                              <div class="rect"></div>
                              </div>
                
                            </div>
                        </div>
                    </div>
                    <div class="middle-pane"></div>
                    <div class="right-pane"></div>
                </div>
                
              
                
                


      <div id="wrapper-full-page" class="wrapper wrapper-full-page">
       

          <div class="full-page lock-page" data-color="purple" data-image="../../assets/img/bg4.jpg">
              <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
              <div class="content">
                  <div class="container">
                      <div class="col-md-4 ml-auto mr-auto">
                          <div class="card card-lock text-center card-plain">
                              <div class="card-header ">
                                    <div class="card-profile-image ">
                                            <img src="/default-avatar.png" 
                                            
                                            class=" rounded-circle border-secondary">
                                          </div>
                                  
                              </div>

                              <form 

                                      role="form"

                                        method="POST"

                                          @submit.prevent="persist"
                                      
                                            @keydown = "form.errors.clear()"

                                          action="">
                              <div class="card-body ">
                                  <h4 class="card-title" style="text-align:center;">Ahmed Attia</h4>
                                  <div class="form-group">
                                     
                                      <input type="password" 

                                            v-model = "form.password" 
                                      
                                          placeholder="Enter Password" class="form-control">

                                     


                                  </div>

                                  <div class="invalid-feedback"  

                                      v-if="form.errors.has('email')"     

                                      v-text= "form.errors.get('email')">
                                            
                                  </div>


                              </div>
                              <div class="card-footer ">
                                <button type="submit"

                              :disabled="form.errors.any()"

                               class="btn  btn-info btn-round  my-4">

                                Unlock
                                      </button>
                                  <!-- <a href="#" class="btn btn-info btn-round"></a> -->
                              </div>

                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          <div class="full-page-background" style="background-image: url(/bg4.jpg) "></div></div>
         
      </div>


    </div>
    


</template>

<script>


export default {


    data(){


      return {

        form : new Form({

          email  : 'userAhmed@gmail.com',

          password  : '',

          remember : '',

        }),

        submitting: false,


      }

    },



    mounted(){
        (function(){

       
        $("#login-cloak").css("z-index", '100');
       
       
       }())


        document.body.addEventListener('click', ()=>{

            this.open();

        }, true); 


        var initial = setTimeout(this.close,6000);

        $(document).click((event) => { 
            
            // if($("#login-cloak .left-pane").hasClass("open")){
            
                // close();
            clearTimeout( initial );
            initial= setTimeout(this.close,12000); 
            
            // } 
        
        
        });


    },



    methods:{


      persist(){

        
        this.$store.dispatch('retrieveToken', {

          username: 'userAhmed@gmail.com', 

          password : this.form.password

        })
        
          .then( (res) => {

              this.$router.push({ name: 'dashboard' })

          })

        // this.submitting = true;

        // this.form.post('/login' )

        //   .then( ({data}) => {


            
        //     console.log('sdafasdfadsfasdfasf')
        //     this.submitting = false;

        //     this.$router.push({ name: 'dashboard' })
            


        //   })
          
        //   .catch((error) => {


            
        //     this.submitting = false;
            
          
        //   });;



      },


       open(){
        
        $("#login-cloak .keyhole .rect").addClass("open");

        setTimeout(function(){

            $("#login-cloak .left-pane").addClass("open");
            $("#login-cloak .middle-pane").addClass("open");
            $("#login-cloak .right-pane").addClass("open");

            setTimeout(function(){

            $("#wrapper-full-page").css("z-index", '101');

            }, 1000)
        
        },1000);

        },

        close(){
        setTimeout(function(){$("#login-cloak .keyhole .rect").removeClass("open");},1000);
            $("#login-cloak .left-pane").removeClass("open");
            $("#login-cloak .middle-pane").removeClass("open");
            $("#login-cloak .right-pane").removeClass("open");
            $("#wrapper-full-page").css("z-index", '');

        }


    }
    
}
</script>


<style >



#login-cloak {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#login-cloak .left-pane {
  position: relative;
  /* background: #f6f6f6; */
  background: -webkit-linear-gradient(top, #9368E9 0%, #943bea 100%);
  border-right: 15px solid #fafafa;
  width: 30%;
  min-width: 300px;
  -webkit-box-flex: 1 auto;
  -moz-box-flex: 1 auto;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
  transition-duration: 700ms;
}
#login-cloak .left-pane.open {
  width: 0;
  transition-duration: 700ms;
  min-width: 0;
  margin-left: -200px;
}
#login-cloak .left-pane:after {
  position: absolute;
  content: " ";
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background: #b2b2b2;
}
#login-cloak .left-pane .keyhole {
  width: 150px;
  height: 150px;
  border: 1px solid #b2b2b2;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 40%;
  right: -90px;
  z-index: 100;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
#login-cloak .left-pane .keyhole .outer-circle {
  -webkit-box-flex: 1 auto;
  -moz-box-flex: 1 auto;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
  max-width: 125px;
  height: 125px;
  margin: auto;
  border: 1px solid #b2b2b2;
  border-radius: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  background: #28d7ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #28d7ff 19%, #2ba3d7 52%, #3c8bc2 90%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(19%, #28d7ff), color-stop(52%, #2ba3d7), color-stop(90%, #3c8bc2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #28d7ff 19%, #2ba3d7 52%, #3c8bc2 90%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #28d7ff 19%, #2ba3d7 52%, #3c8bc2 90%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #28d7ff 19%, #2ba3d7 52%, #3c8bc2 90%);
  /* IE10+ */
  background: linear-gradient(to bottom, #28d7ff 19%, #2ba3d7 52%, #3c8bc2 90%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28d7ff', endColorstr='#5f7bc2',GradientType=0 );
  /* IE6-9 */
}
#login-cloak .left-pane .keyhole .outer-circle .inner-circle {
  -webkit-box-flex: 1 100%;
  -moz-box-flex: 1 100%;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
  max-width: 100px;
  height: 100px;
  background: #f6f6f6;
  margin: auto;
  border: 1px solid #b2b2b2;
  border-radius: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
#login-cloak .left-pane .keyhole .outer-circle .inner-circle .rect {
  position: relative;
  -webkit-box-flex: 1 auto;
  -moz-box-flex: 1 auto;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
  max-width: 20px;
  height: 70px;
  background: #666666;
  margin: auto;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  transition-duration: 1s;
}
#login-cloak .left-pane .keyhole .outer-circle .inner-circle .rect:after {
  content: " ";
  position: absolute;
  top: 20px;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid rgba(0, 0, 0, 0);
  border-left-color: #F6F6F6;
}
#login-cloak .left-pane .keyhole .outer-circle .inner-circle .rect:before {
  content: " ";
  position: absolute;
  bottom: 25px;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid rgba(0, 0, 0, 0);
  border-right-color: #F6F6F6;
}
#login-cloak .left-pane .keyhole .outer-circle .inner-circle .rect.open {
  transform: rotate(180deg);
  transition-duration: 1s;
}
#login-cloak .middle-pane {
  width: 0;
  max-width: 0;
  background: rgba(0, 0, 0, 0);
  border-left: 1px solid #b2b2b2;
  border-right: 1px solid #b2b2b2;
  -webkit-box-flex: 1 auto;
  -moz-box-flex: 1 auto;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  transition-duration: 700ms;
}
#login-cloak .middle-pane.open {
  width: 150%;
  max-width: 150%;
  transition-duration: 700ms;
}
#login-cloak .right-pane {
  /* background: #f6f6f6; */
  background:-webkit-linear-gradient(top, #9368E9 0%, #943bea 100%);;
  
  border-left: 15px solid #fafafa;
  position: relative;
  width: 70%;
  -webkit-box-flex: 1 auto;
  -moz-box-flex: 1 auto;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  transition-duration: 700ms;
}
#login-cloak .right-pane.open {
  transition-duration: 700ms;
  width: 0;
  margin-right: -200px;
}
#login-cloak .right-pane:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  content: " ";
  background: #b2b2b2;
}

button.toggle {
  position: absolute;
  z-index: 999;
  bottom: 40px;
  right: 40px;
  width: 100px;
  height: 40px;
  background: #0096c5;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
button.toggle:hover {
  background: #0083ac;
}

.clock-content {
  border: 1px solid #ccc;
  width: 600px;
  margin: auto;
  padding: 10px;
  background: #f0f0f0;
}



            /* ppppppppppppppppppppppp */

            .card-profile-image{

                height: 50px;
            
            }

            .card-profile-image img {
                position: absolute;
                left: 50%;
                max-width: 140px;
                height: 100px;
                transition: all .15s ease;
                transform: translate(-50%,-50%) scale(1);
                border: 3px solid #fff;
                border-radius: .375rem;
            }

            .avatar.rounded-circle img, .rounded-circle {
                border-radius: 50%!important;
            }

            .border-secondary {
                /* border-color: 4px solid rgba(255, 255, 255, 0.3); */
                
                border-color: linear-gradient(to bottom, #9368E9 0%, #943bea 100%);
                border-color:  rgb(186, 157, 243)!important;
            }
            
            /* .avatar:hover {
                transform: translate(-50%,-50%) scale(1.03);
            } */

            .card-profile-image img:hover {
                transform: translate(-50%,-50%) scale(1.03);
            }
        


</style>

