<template>
  
  <div class="row">

    
    <div class="col-md-8">

      <h5  class="title">

        Updating

      <!-- {{ trans('channels.create') }} -->



      </h5>
    
    
      <edit-channel-form 

        v-if="dataReady"
 
          :test =" `test here again` "

          :channel = "channel"

          v-model="channel"

          @posted="setNew">
    
          </edit-channel-form>
    
    </div>

    <div class="col-md-4">

     <channel-card 

      v-if="dataReady"

        :channel="channel" 

          :type="`cover1`"

           :title="`Cover 1`"

            v-model = "channel"

            ></channel-card>

      <channel-card 


        v-if="dataReady"

        :channel="channel" 


          :type="`circle1`" 

            :title="`circle 1`"

              v-model = "channel"

            ></channel-card>


        <channel-card 

        :channel="channel" 


           :type="`cover2`"

            :title="`Cover 2`"

              v-model = "channel"

            ></channel-card>

      <channel-card 

        :channel="channel" 


          :type="`circle2`" 

           :title="`circle 2`"

           v-model = "channel"

            ></channel-card>

    </div>

  </div>

</template>


<script>
  
  import EditChannelForm from './Partials/EditChannelForm';
  
  import ChannelCard from './Partials/ChannelCard'
  

  export default {
  
    components: {
  
      EditChannelForm,
  
      ChannelCard
    
    },
  
    data() {
  
  

      return {


        updateImageUrl: false,

        channel: null,

        dataReady: false,
        
  

      }
  

    },

    computed:{

      endPoint(){

        return `/api/channels/${this.$route.params.slug}`;

      }

    }, 

    created(){

      this.fetch();

    },

    methods:{

      fetch(){

        axios.get(this.endPoint)
          
          .then( ({data}) => {

            this.channel = data.channel;

            this.dataReady = true;

            
          })
          
          .catch(  error => {
                      
            dd(error, 'iam error here of hitting channel end point');
               
          });

      },

      setNew(posted){


          this.updateImageUrl = 1;

          this.channel =  posted;

      }

    }
  

  }
</script>
<style>
</style>
