<template>

    <div class="row">

        <div class="col-12">
          
          <div class="card card-white">

            <div class="card-header border-0">


              <h5 class="title">Barmjan Team</h5>
              
              <p class="category">

                Do you want to add new member 

                <a href="https://nucleoapp.com/?ref=1712">


                </a>

         

                <router-link  :to="`/team/create`">

                  ADD

                </router-link>



              </p>

            </div>


            <div class="card-body all-icons">

            <div class="table-responsive">
              
              <table class="table align-items-center table-flush white">
                
                <thead class="thead-light">
                  
                  <tr>
                    
                    <th scope="col">Profession</th>

                    <th scope="col">name</th>

                    <th scope="col">description</th>

                    <th scope="col">social</th>

                    <th scope="col">progress</th>
                    
                    <th scope="col"></th>
                  
                  </tr>
                
                </thead>
                
                <tbody>

                  <tr v-for="(member, index) in members" :key="index" >
                   
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" 

                            :src="path(member.photographs, 'circle1' )"

                          >

                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm"> {{ curLangVal('profession', member)   }}  </span>
                        </div>
                      </div>
                    </th>


                    <td>
                        
                        {{ curLangVal('name', member)   }}

                    </td>
                    
                    <td v-html="curLangVal('description', member)">
                        

                    </td>
                    
                    <td>
                      <div class="avatar-group">
                        
                        <a :href="member.linkedInAccount" 

                            class="avatar avatar-sm" 

                              data-toggle="tooltip" 

                                data-original-title="Ryan Tompson">

                            <i class="fab fa-linkedin"></i>



                        </a>
                        
                        <a :href="member.facebookAccount" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                          
                            <i class="fas fa-facebook-square"></i>

                        </a>
                        
                        <a :href="member.twitterAccount" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                          
                          <i class="fa fa-twitter-square"></i>

                        </a>
                        
                        <a :href="member.gmail" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                          
                            <i class="fab fa-google-plus"></i>

                        </a>
                      
                      </div>
                    
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">60%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="#">Action</a>

                

                          <router-link 

                                  class="dropdown-item"  

                                    :to="`/team/update/${member.slug}`">

                            update

                          </router-link>


                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>

            </div>

            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <i class="fa fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="fa fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      

      

    </div>
</template>
<script>
import { BaseTable } from "../../components";


const tableColumns = ["member", "Budget", "Channel", "Status", "Users", "Completion"];



export default {
  
  components: {
  
    BaseTable
  
  },
  
  data() {
    
    return {

      table1: {
        
        title: "Simple Table",
        
        columns: [...tableColumns],
        
      },

      members: [],

     

      members : [],

      whole : []

    
    };
  },

  created(){

     this.fetch();

  },

  computed:{

    endPoint(){

      return `/api/team`;

    }


  },

  methods:{

    fetch(){

      axios.get(this.endPoint)

          .then(({data}) => {

            
            
            this.members = data.members;

            this.whole = data.members;



          })

          .catch(error => {


            dd(error , 'iam error here');

          })

    },

    path(colloction , hint){


          let image = _.find(colloction, ['type', hint]);


          if(image){

            return image.path;
            
          }

          return ``;



        }


  }





};
</script>
<style>
</style>
