<template>

    <div class="row">

        <div class="col-12">
          
          <div class="card card-white">

            <div class="card-header border-0">


              <h5 class="title">Forum Courses</h5>
              
              <p class="category">

                Do you want to add new One 

                <a href="https://nucleoapp.com/?ref=1712">

                  

                </a>

         

                <!-- <router-link  :to="`videos/create`">

                  ADD

                </router-link> -->

                <btn-upload 

                     v-if="course" 

                        :course="course"></btn-upload>



              </p>


              <div class="form-group">

                        <label for="channel_id">



                              {{ trans('courses.chooseAchannel') }}

                              </label>

                        <select

                            id="channel_id"

                              name="channel_id"

                                @change="filterCourses"

                                  v-model = "channel_id"

                                    class="form-control"  >

                          <option :value="0">{{ trans('threads.choose') }}</option>


                          <option

                            v-for="(channel, index) in channels"

                            :key="channel.id"

                              :value="channel.id"

                              v-text="channel.name"

                            >


                          </option>

                        </select>

                    </div>


                     <div class="form-group">

                        <label for="course_id">



                              {{ trans('courses.chooseAchannel') }}

                              </label>

                        <select

                            id="course_id"

                              name="course_id"

                                @change="filterVideos"

                                  v-model = "course_id"

                                    class="form-control"  >

                          <option :value="0">{{ trans('threads.choose') }}</option>


                          <option

                            v-for="(course, index) in courses"

                            :key="course.id"

                              :value="course.id"

                              v-text="course.name"

                            >


                          </option>

                        </select>

                    </div>

            </div>


            <div class="card-body all-icons">

            <div class="table-responsive">
              
              <table class="table align-items-center table-flush white">
                
                <thead class="thead-light">
                  
                  <tr>
                    
                    <th scope="col">Video</th>

                    <th scope="col">Budget</th>

                    <th scope="col">Channel</th>
                    
                    <th scope="col">Status</th>
                    
                    <th scope="col">Users</th>
                    
                    <th scope="col">Completion</th>
                    
                    <th scope="col"></th>
                  
                  </tr>
                
                </thead>
                
                <tbody>
                          <!-- video.image_filename -->

                  <tr v-for="(video , index) in videos" :key="index" >
                   
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" 

                            src=""

                          >


                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm"> {{ curLangVal('title', video ) }}  </span>
                        </div>
                      </div>
                    </th>
                    <td>
                      $2,500 USD
                    </td>

                    <td>

                      {{   curLangVal('name', video.course )  }}

                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i> pending
                      </span>
                    </td>
                    <td>
                      <div class="avatar-group">
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                          <img alt="Image placeholder" src="" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                          <img alt="Image placeholder" src="" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                          <img alt="Image placeholder" src="" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                          <img alt="Image placeholder" src="" class="rounded-circle">
                        </a>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">60%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="#">Action</a>

                          <router-link 

                                  class="dropdown-item"  

                                    :to="`videos/update/${video.uid}`">

                            update

                          </router-link>


                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </td>
                  </tr>


                </tbody>
              </table>
            </div>

            </div>

            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <i class="fa fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="fa fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      

      

    </div>
</template>
<script>
import { BaseTable } from "../../components";


const tableColumns = ["Course", "Budget", "Channel", "Status", "Users", "Completion"];



export default {
  
  components: {
  
    BaseTable
  
  },
  
  data() {
    
    return {

      table1: {
        
        title: "Simple Table",
        
        columns: [...tableColumns],
        
      },

      channels : [],

      courses: [],

      channel_id: 0,

      course_id: 0,

      course : null,

      videos : [],

      wholeCourses: [],

      whole : []

    
    };
  },

  created(){

     this.fetchVideos();

     this.fetchChannels();

     this.fetchCourses();

  },

  computed:{

    channelsEndPoint(){

      return `/api/channels`;
    },

    coursesEndPoint(){

      return `/api/courses/list`;

    }, 

    videosEndPoint(){

      return `/api/videos`;

    }


  },

  methods:{

    filterCourses(){

      if(! this.channel_id){

        this.courses = this.wholeCourses;

        return ;

      }

      this.courses =  _.filter(this.wholeCourses, {channel_id: this.channel_id });

    },


    filterVideos(){

       if(! this.course_id){

        this.videos = this.whole;

        this.course = null;

        return ;

      }

      this.course = _.find(this.courses, ['id', this.course_id]);

      this.videos  =  _.filter(this.whole, {course_id: this.course_id });

    },


    fetchVideos(){

      axios.get(this.videosEndPoint)

          .then(({data}) => {

            
            
            this.videos = data.videos;

            this.whole = data.videos;



          })

          .catch(error => {


            dd(error , 'iam error here');

          })

    },



    fetchCourses(){

      axios.get(this.coursesEndPoint)

          .then(({data}) => {

            
            
            this.courses      = data.courses;

            this.wholeCourses = data.courses;

            

          })

          .catch(error => {


            dd(error , 'iam error here');

          })

    },

    fetchChannels(){


        axios.get(this.channelsEndPoint)

          .then( ({data}) => {


            this.channels = data.channels;


          })
          .catch(  error => {

            dd(error, 'iam error here of hitting channel end point');

          });

      },


  }





};
</script>
<style>
</style>
