<template>

  <card>
    
       <form method="POST"

                       class="form-orange"

                         action=""

                          @submit.prevent="persist"

                                    @keydown = "form.errors.clear($event.target.name)"

                                    @change = "form.errors.clear($event.target.name)"

                          >
    
    <div id="video-form">



          

                        <div class="row">

                          <div class="col-md-6">

                            <div class="form-group">
                    
                    <label for="title">Title</label>
                    
                    <input type="text" 
                    
                    class="form-control" 
                    
                    name="title" 
                    
                    id="title" 

                    v-if="form.title"

                    placeholder="Video title"

                    v-model="form.title"
                    
                    >
                  
                  </div>


                  <p class="invalid-feedback"

                                    v-if="form.errors.has('title')"

                                    v-text= "form.errors.get('title')">

                                  </p>
                            


                          </div>


                          <div class="col-md-6">

                            <div class="form-group">
                    
                    <label for="title_ar">Arabic Title</label>
                    
                    <input type="text" 
                    
                    class="form-control" 
                    
                    name="title_ar" 
                    
                    id="title_ar" 

                    v-if="form.title_ar"
                    
                    placeholder="Video title"

                    v-model="form.title_ar"
                    
                    >
                  
                  </div>


                   <p class="invalid-feedback"

                                    v-if="form.errors.has('title_ar')"

                                    v-text= "form.errors.get('title_ar')">

                                  </p>
                            


                          </div>
                          

                        </div>

                  <div class="form-group">

                    <wysiwyg

                                    :name="`description`"

                                    :id="`description`"

                                    v-if="form.description"


                                    @customKeyDown="handler"

                                      :value="form.description"

                                        v-model="form.description"

                                          :placeholder="`Video content description`"

                                            ref="descriptionTrixEn"


                                          ></wysiwyg>
                  
                  </div>

                  <p class="invalid-feedback"

                                    v-if="form.errors.has('description')"

                                    v-text= "form.errors.get('description')">

                                  </p>


                  <div class="form-group">

                    <wysiwyg

                                    :name="`description_ar`"

                                    :id="`description_ar`"

                                    v-if="form.description_ar"

                                    @customKeyDown="handler"

                                      :value="form.description_ar"

                                        v-model="form.description_ar"

                                          :placeholder="trans('courses.createDescription')"

                                            ref="descriptionTrixAr"


                                          ></wysiwyg>
                  
                  </div>

                   <p class="invalid-feedback"

                                    v-if="form.errors.has('description_ar')"

                                    v-text= "form.errors.get('description_ar')">

                                  </p>



                  <div class="form-group ">
                              
                              <label for="video_url"

                                v-if="form.is_youtube"
                                
                                 >Video url</label>
                        
                                   <input 
                                    
                                    v-if="form.is_youtube"

                                   type="text"

                                   class="form-control"


                                   name="video_url"

                                   v-model="form.yt_url"

                                   value=""

                                   placeholder="https://www.domainname.com/slug"
                                   />
                                
                                </div>


                                <p class="invalid-feedback"

                                    v-if="form.errors.has('yt_url')"

                                    v-text= "form.errors.get('yt_url')">

                                  </p>

                       <div class="form-group">
                              
                              <label for="gitHubLink" >GitHub link</label>
                        
                                   <input 

                                      type="text"

                                        class="form-control"
                                        
                                          name="gitHubLink"

                                            v-model="form.gitHubLink"

                                              value=""

                                                placeholder="https://www.domainname.com/slug"
                                   />
                                
                                </div>


                                <p class="invalid-feedback"

                                    v-if="form.errors.has('gitHubLink')"

                                    v-text= "form.errors.get('gitHubLink')">

                                  </p>                  


                 <div class="row" >



                  <div class="col-md-6">

                   <div class="form-group">

                      <label for="title">


                        {{ trans('courses.position') }}


                      </label>

                      <select

                            id="position"

                              name="position"



                                v-model = "form.position"

                                  class="form-control"  >

                          <option :value="0">{{ trans('threads.choose') }}</option>


                          <option

                            v-if=" positions "
                            

                            v-for="index in positions" 
                            
                                  :key="index"


                              :value="index"

                              v-text="index"

                            >


                          </option>

                        </select>

                      </div>


                        <p class="invalid-feedback"

                                  v-if="form.errors.has('position')"

                                  v-text= "form.errors.get('position')">

                                </p>


                </div>
                  

                  <div class="col-md-6">


                    <div class="form-group">
                      
                      <label for="visibility">Visibility</label>
                      
                      <select 

                       id="visibility"

                       name="visibility"

                       class="form-control"

                       v-model="form.visibility"  

                       >
                      
                       <option value='' selected>Choose...</option>
                      
                       
                      
                       <option value="1">Private</option>

                       <option value="2">Unlisted</option>
                        
                       <option value="3">Public</option>

                      </select>

                  </div>


                  <p class="invalid-feedback"

                                    v-if="form.errors.has('visibility')"

                                    v-text= "form.errors.get('visibility')">

                                  </p>
                    



                  </div>




                </div>  



                  <div class="row" >
                 
                 <div class="col-md-3">

                    <label for="custom-toggle">

                        {{ trans('courseVideos.locked') }}

                      </label>
                   

                 </div>

                 <div class="col-md-3">

                  <label class="custom-toggle">


                
                  <input type="checkbox" v-model="form.locked" >
                  
                  <span class="custom-toggle-slider rounded-circle"></span>
              
                </label>
                   

                 </div>


                 <p class="invalid-feedback"

                                    v-if="form.errors.has('locked')"

                                    v-text= "form.errors.get('locked')">

                                  </p>


               </div>

                 
                    
                    
                           
                        
                      
                  
                      


                   <div class="level">
                    
                    <button

                                  type="submit"

                                    :disabled="form.errors.any()"

                                     class="btn btn-primary">



                                    {{ trans('threads.publish') }}

                                </button>
                    
                    
                  </div>

        </div>

    </form>

      
  </card>
</template>




<script type="text/javascript">



  export default{

    data(){

      return {

        old: [],

        form : new Form({

            uid: null,

            is_youtube: 1,

            title: '',

            title_ar: '',

            description: '',

            description_ar: '', 

            visibility: '',

            position : 0, 

            yt_url: '',

            locked: false,

            gitHubLink: '',


          }),

        channels : [],

        failed: false,

        positions: [],

        
        updated: false,

        new: null,

        ready: null


      };

    },

    created(){ 

      this.fetchVideoData();

    } ,

    computed:{

      videoEndPoint(){

        return `/api/videos/${this.$route.params.slug}`;

      },

      nextPositionEndPoint(){



        return `/api/courses/${this.old.course.slug}/position`;

      }


    }, 


    methods:{

      fetchVideoData(){

        axios.get(this.videoEndPoint)
          
          .then( ({data}) => {


            this.old = data.video;

            this.fetchPosition();


            this.ready = true;

            this.form = new Form({

                      uid: data.video.uid,

                      is_youtube: data.video.is_youtube,

                      title: data.video.title ,

                      title_ar: data.video.title_ar,

                      description: data.video.description ,

                      description_ar: data.video.description_ar, 

                      visibility: data.video.visibility ,

                      position : data.video.position, 

                      yt_url: data.video.yt_url ,

                      locked: data.video.locked,

                      gitHubLink: data.video.gitHubLink,

                  
                })


            
          })
          
          .catch(  error => {
                      
            dd(error, 'iam error here of hitting channel end point');
               
          });

      },

      fetchPosition(){

              axios.get(this.nextPositionEndPoint)

                  .then( ({data}) => {

                    this.positions = data.position;


                })

              .catch(  error => {

                    dd(error, 'iam error here of hitting channel end point');



              });

      },

      persist(){

      
        this.failed = false;


        this.form.patch(this.videoEndPoint)
          
          .then( ({data}) => {

            this.updated = true;

            this.new = data.newVideoData;

            this.$emit('posted', data.newVideoData)

            this.$toaster.success('Video Updated successfully!')
          
          })
          
          .catch((error) => {

                this.failed = true;

                this.$toaster.error('Something went wrong')

          });



      },

      handler(name){

        this.form.errors.clear(name);

      }


    },


  }

  




  
</script>


<style>

</style>
