<template>
 
  <card   



   type="course">
 
    <p class="card-text">
 
    </p>
 
    <div class="author">
 
      <div class="block block-one"></div>
 
      <div class="block block-two"></div>
 
      <div class="block block-three"></div>
 
      <div class="block block-four"></div>

        
        <video-upload 

          v-if="video"

          :value="video.is_youtube ? video.yt_url : video.awsLink"

          @loaded="onLoad">
          


        </video-upload>

        <bounce-loader 
								
								
									:loading="awsUploading"
                          
									:color="`#fd5d93`"

										v-if="awsUploading"	

											class="level p "
									
												>
									  	
										  </bounce-loader>

        <h5 class="title">Synac course name</h5>
 
 
      <p class="description">

        Synac course description
 
      </p>
 
    </div>
 
    <p></p>
 
    <p class="card-description">
 
      Synac course description here
 
    </p>
 
  </card>

</template>

<script>

  import VideoUpload from './VideoUpload'

  export default {

    components: {

      VideoUpload

    },

    props: {
      
      video: {
      
        type: Object,
      
        default: () => {
      
          return {};
      
        }
      
      }
    
    },

    data(){

      return {

        awsUploading: false,

      }

    }, 
    computed:{

      endpoint(){

        return `/api/videos/${this.video.uid}`;
             
      }

    },

    methods:{

      onLoad(video){
      
      

        this.persist(video.file);

      
      },

      persist(video){

        this.awsUploading = true;

        let data = new FormData();

        data.append('video', video);

        data.append('uid', this.video.uid);

        axios.post(this.endpoint, data)

            .then(() => {

              this.$toaster.success('Video Uploaded!.')
              
              this.awsUploading = false;

            })

      }

    }
  
  }

</script>

<style>

</style>
