<template>

	<div>

	
		

		<div class="video__preview">

			<a class="btn btn-danger preview-cancel" 

				@click="$emit('close')"				
				>
				
				<i class="fa fa-close"></i>

			</a>

			<video v-if="video" width="220" height="140" controls>
				<source :src="video" type="video/mp4">
				<!-- <source src="movie.ogg" type="video/ogg"> -->
				Your browser does not support the video tag.
			</video>

			<!-- <img 

			:src="video"> -->
		</div>

	</div>
	
</template>


<script type="text/javascript">
	
	export default {

		props:{

			preview:{

				type: [String, File],

				default: null

			}


		},

		data(){


			return {

				video: null

			};

		},

		created(){

			this.setPreview();

		},

		watch:{

			'preview': 'setPreview'

		},
 

		methods:{


			setPreview(){

				this.video = this.preview;

			}


		}


	}


</script>


<style type="text/css">
		
.preview-cancel{

	position: absolute;

	top: -10px;

	right: 0;

	border-radius: 0px;



}


</style>