<template>


	<div>

		

			<image-preview

				class="image" v-if="image" 

				:preview="image" 

					@close="mutate" 

						

				 >
					

				</image-preview>
			

		

		<div v-else

			class="image__upload" 
			>

			<input type="file"   accept="image/*"   @change="onChange">
		
		</div>


	</div>
	
	



</template>


<script type="text/javascript">

	import ImagePreview from './ImagePreview.vue'
	
	export default {

		props: {

			value: {

				type: [String, File],

				default: null

			},


		},


		data(){

			return {

				image : this.value

			}


		},




		components: {

			ImagePreview

		},

		methods:{

			onChange(e){

				if(! e.target.files.length) return;

				let file = e.target.files[0];

				let reader = new FileReader();

				reader.readAsDataURL(file);

				// console.log(reader);
				reader.onload = e =>{

					this.image = e.target.result;
					
					let src = e.target.result;

					this.$emit('loaded',{
						src,
						file
					});


				};
			},


			mutate(){

				this.image = null;

				this.$emit('close');


			}



		



		}


	}


</script>