<template>

	<div>
		
			<input 
			
					type="file"

                    	class="form-control"

                    	  name="video"

                    	  	id="video" 

                    	  		v-if="!uploading"

                    	    		@change="fileInputChange">

						<!-- v-if="uploading" -->

                    	<div id="video-form" v-if="uploading" >


							
							<!-- Progress area ----------------------------------------------------------------------- -->
							<div>

							<progress-bar 
							
									:progessValue="fileProgress" 
									
											v-if="!uploadingComplete"></progress-bar>	


							</div>

                    		
							<!-- Alerting area ----------------------------------------------------------------------- -->

							<p class="alert " 

								    :class="failed ? 'alert-danger': 'alert-success'" 

								     	v-if="saveStatus"

								     		v-text="saveStatus"> 

								 		</p>


								<bounce-loader 
								
								
									:loading=" uploading"
                          
									:color="`#172b4d`"

										v-if="awsUploading"	

											class="level p "
									
												>
									  	
										  </bounce-loader>


                    		<!-- </div> -->

                    		<div class="alert alert-info" v-if="uploadingComplete">
                    			
                    			Upload Complete, video is now proccessing
                    			
                    			<a :href="videoPath" target="_blank">Go to your videos</a>. 

                    		</div>


							<!-- Alerting area ----------------------------------------------------------------------- -->
                    		
							<form method="POST"

                       class="form-orange"

                         action=""

                          @submit.prevent="persist"

                                    @keydown = "form.errors.clear($event.target.name)"

                                    @change = "form.errors.clear($event.target.name)"

                          >
                    		<div class="row">

                    			<div class="col-md-6">

                    				<div class="form-group">
								    
								    <label for="title">Title</label>
								    
								    <input type="text" 
								    
								    class="form-control" 
								    
								    name="title" 
								    
								    id="title" 
								    
								     
								    
								    placeholder="Video title"

								    v-model="form.title"
								    
								    >
								  
								  </div>


								  <p class="invalid-feedback"

                                  	v-if="form.errors.has('title')"

                                  	v-text= "form.errors.get('title')">

                                  </p>
                    				


                    			</div>


                    			<div class="col-md-6">

                    				<div class="form-group">
								    
								    <label for="title_ar">Arabic Title</label>
								    
								    <input type="text" 
								    
								    class="form-control" 
								    
								    name="title_ar" 
								    
								    id="title_ar" 
								    
								     
								    
								    placeholder="Video title"

								    v-model="form.title_ar"
								    
								    >
								  
								  </div>


								   <p class="invalid-feedback"

                                  	v-if="form.errors.has('title_ar')"

                                  	v-text= "form.errors.get('title_ar')">

                                  </p>
                    				


                    			</div>
                    			

                    		</div>

								  <div class="form-group">

								  	<wysiwyg

                                    :name="`description`"



                                      :value="form.description"

                                        v-model="form.description"

                                          :placeholder="`Video content description`"

                                            ref="descriptionTrixEn"


                                          ></wysiwyg>
								  
								  </div>

								  <p class="invalid-feedback"

                                  	v-if="form.errors.has('description')"

                                  	v-text= "form.errors.get('description')">

                                  </p>


								  <div class="form-group">

								  	<wysiwyg

                                    :name="`description_ar`"



                                      :value="form.description_ar"

                                        v-model="form.description_ar"

                                          :placeholder="trans('courses.createDescription')"

                                            ref="descriptionTrixAr"


                                          ></wysiwyg>
								  
								  </div>

								   <p class="invalid-feedback"

                                  	v-if="form.errors.has('description_ar')"

                                  	v-text= "form.errors.get('description_ar')">

                                  </p>



							


                            	
							<div class="form-group">
                              
                              <label for="gitHubLink" >GitHub link</label>
                        
                                   <input 

                                      type="text"

                                        class="form-control"
                                        
                                          name="gitHubLink"

                                            v-model="form.gitHubLink"

                                              value=""

                                                placeholder="https://www.github.com/pathToFile"
                                   />
                                
                                </div>


                                <p class="invalid-feedback"

                                    v-if="form.errors.has('gitHubLink')"

                                    v-text= "form.errors.get('gitHubLink')">

                                  </p> 								


                 <div class="row" >



                 	<div class="col-md-6">

                   <div class="form-group">

                      <label for="title">


                        {{ trans('courses.position') }}


                      </label>

                      <select

                            v-if="positions"
                            
							id="position"

                              name="position"



                                v-model = "form.position"

                                  class="form-control"  >

                          <option value="">{{ trans('threads.choose') }}</option>


                          <option


                           	 v-for="index in positions" 
								
								:key="index"

                              :value="index"

	                              v-text="index"

                            >


                          </option>

                        </select>

                      </div>


                        <p class="invalid-feedback"



                                  v-if="form.errors.has('position')"

                                  v-text= "form.errors.get('position')">

                                </p>


              	</div>
                 	

              		<div class="col-md-6">


              			<div class="form-group">
								      
								      <label for="visibility">Visibility</label>
								      
								      <select 

								       id="visibility"

								       name="visibility"

								       class="form-control"

								       v-model="form.visibility"  

								       >
								      
								       <option value='' selected>Choose...</option>
								      
								       
								      
								       <option value="1">Private</option>

								       <option value="2">Unlisted</option>
								        
								       <option value="3">Public</option>

								      </select>

								  </div>


								  <p class="invalid-feedback"

                                  	v-if="form.errors.has('visibility')"

                                  	v-text= "form.errors.get('visibility')">

                                  </p>
              			



              		</div>




                </div> 	


                      <div class="row" >
                 
                 <div class="col-md-3">

                    <label for="custom-toggle">

                        {{ trans('courseVideos.locked') }}

                      </label>
                   

                 </div>

                 <div class="col-md-3">

                  <label class="custom-toggle">


                
                  <input type="checkbox" v-model="form.locked" >
                  
                  <span class="custom-toggle-slider rounded-circle"></span>
              
                </label>
                   

                 </div>


                 <p class="invalid-feedback"

                                    v-if="form.errors.has('locked')"

                                    v-text= "form.errors.get('locked')">

                                  </p>


               </div>

                 
                    
								    
                           
                        
                 			
								  
								      


								   <div class="level">
								  	
								    <button

                            			type="submit"

                              			:disabled="form.errors.any()"

                               			 class="btn btn-primary">



                          					{{ trans('threads.publish') }}

                        				</button>
								    
								    
									</div>

				

		</form>
								    
								    
		</div>


</div>



</template>





<script type="text/javascript">


	import ProgressBar from './ProgressBar.vue';

	export default{

		props:['course'],

		components:{ProgressBar},

		data(){

			return {

				form : new Form({

				  	uid: null,

					title: '',

					title_ar: '',

					description: '',

					description_ar: '', 

					visibility: '',

					position : '', 

					gitHubLink:'',

					locked: false,


			    }),

				uploading: false,

				uploadingComplete: false, 

				failed: false,

				video: false, 

				saveStatus: '' ,

				positions: null ,

				fileProgress: 0,

				awsUploading: false,


			};

		}, 

		created(){

			window.onbeforeunload = ()=>{

							
				if( this.uploading && !this.uploadingComplete && !this.failed ){

					return "Are you sure you want to navigate away?";


				}


			}

			this.fetchPosition();


		},

		mounted(){

			dd(this.course.channel.slug, 'Iam course slug')

			dd(this.course.slug, 'Iam course slug')

		},

		computed:{

			updateEndPoint(){

				return `/api/videos/${this.form.uid}`;

			},

			uploadEndPoint(){

				return `/api/courses/${this.course.channel.slug}/${this.course.slug}/upload`;

			}, 
			
			nextPositionEndPoint(){

				return `/api/courses/${this.course.slug}/position`;

			},

			storeEndPoint(){

				return `/api/courses/${this.course.channel.slug}/${this.course.slug}/videos`;
			},

			storeAwsEndPoint(){

				return `/api/courses/${this.course.channel.slug}/${this.course.slug}/store`;

			},


			videoPath(){

				return `http://127.0.0.1:8000/courses/${this.course.channel.slug}/${this.course.slug}?#${this.form.uid}`;
			
			}


		},

		methods:{


			fetchPosition(){

		          axios.get(this.nextPositionEndPoint)

		              .then( ({data}) => {

		                this.positions = data.position;


		            })

		          .catch(  error => {

		                dd(error, 'iam error here of hitting channel end point');



		          });

      		},

			fileInputChange(e){

				this.uploading = true;

				this.awsUploading = true;

				this.failed = false;

				// upload the video

				this.video = document.getElementById('video').files[0];

				// store the meta-data with axios not the actual video path


				this.linkVideoWithDB()

						.then(({data})=> {
							
							this.form.uid = data.uid;

							this.upload();

							// upload video to temp than to s3 

							// update video path into the db..

							

							})
							
							.catch((error) => {

								this.failed = true;
								dd(error);

								this.touchStatus('Something went wrong');

							});

				// show that video is uploaded 

				// get the video id

			},


			linkVideoWithDB(){


				let payload = { 'extension':  this.video.name.split('.').pop() };

				return axios.post(this.storeAwsEndPoint, payload);

			},

			persist(){

				this.failed = false;

				this.touchStatus('Saving Changes');

				this.form.patch(this.updateEndPoint)

				          .then( ({data}) => {

				          
							this.form.locked = false;

							this.$toaster.success('Video details stored successfully.')


							this.touchStatus('Changes saved');




				          })

				          .catch((error) => {

				                this.failed = true;

								this.form.locked = false;
								
								this.touchStatus('Failed to save changes')


				          });

				

			},

			touchStatus(status){

				this.saveStatus = status;

				setTimeout(()=>{

					this.saveStatus = '';

				}, 3000);
			},

			upload(){

				var collectedData = new FormData();

					dd(this.video);
					
					collectedData.append('video', this.video);

					collectedData.append('uid', this.form.uid);

					axios.post(this.uploadEndPoint, collectedData , {

						onUploadProgress:(e) => {

							if(e.lengthComputable){

								this.updateProgress(e);

							}

						}



					}).then(({data})=> {

						console.log('iam data here taekoo');

						console.log(data);

						this.form.uid = data.uid;

						
						this.awsUploading = false;
						
						this.uploadingComplete = true;

						this.touchStatus('video has been uploaded');
						
					})

					.catch(()=> {

						this.failed = true;

						this.touchStatus('Something went wrong maybe file is too large');
							
					} );

				


			},

			updateProgress(e){

				e.percent = (e.loaded / e.total) * 100;

				dd(e.percent);

				this.fileProgress = e.percent;

			}



		}




	}
	

	


</script>



<style type="text/css">
	


</style>