<template>
	
	<div>
		
		 <button 

        	 	@click.prevent="emitYoutube"

        	 	class="btn btn-default

        	 	btn-round">
              
                <i class="material-icons">From Youtube</i>
              
              </button>


              <button 

              	@click.prevent="emitNormal"

              	class="btn btn-default

              		  btn-round">
                
                <i class="material-icons">Normal Video</i>
              
              </button>

	</div>

</template>


<script type="text/javascript">

	export default{


		methods:{

			emitNormal(){

				this.$emit('normal');

			},

			emitYoutube(){

				this.$emit('youtube');
			}




		}



	}
	

</script>


<style type="text/css">
	

</style>