<template>

	<div>


		 <form 
		 
		 			method="POST"

                       class="form-orange"

                         action=""

                          	@submit.prevent="persist"

                                @keydown = "form.errors.clear($event.target.name)"

                                    @change = "form.errors.clear($event.target.name)"

                          >
		
							<div id="video-form">

                    		<p class="alert " 

								    :class="failed ? 'alert-danger': 'alert-success'" 

								     	v-if="saveStatus"

								     		v-text="saveStatus"> 

								 	</p>


                    

                    		<div class="alert alert-info" v-if="!failed && stored">
                    			
                    			Upload Complete, video is now proccessing
                    			
                    			<a :href="videoPath" target="_blank">Go to your video</a>. 

                    		</div>

                    		<div class="row">

                    			<div class="col-md-6">

                    				<div class="form-group">
								    
								    <label for="title">Title</label>
								    
								    <input type="text" 
								    
								    class="form-control" 
								    
								    name="title" 
								    
								    id="title" 
								    
								     
								    
								    placeholder="Video title"

								    v-model="form.title"
								    
								    >
								  
								  </div>


								  <p class="invalid-feedback"

                                  	v-if="form.errors.has('title')"

                                  	v-text= "form.errors.get('title')">

                                  </p>
                    				


                    			</div>


                    			<div class="col-md-6">

                    				<div class="form-group">
								    
								    <label for="title_ar">Arabic Title</label>
								    
								    <input type="text" 
								    
								    class="form-control" 
								    
								    name="title_ar" 
								    
								    id="title_ar" 
								    
								     
								    
								    placeholder="Video title"

								    v-model="form.title_ar"
								    
								    >
								  
								  </div>


								   <p class="invalid-feedback"

                                  	v-if="form.errors.has('title_ar')"

                                  	v-text= "form.errors.get('title_ar')">

                                  </p>
                    				


                    			</div>
                    			

                    		</div>

								  <div class="form-group">

								  	<wysiwyg

                                    :name="`description`"



                                      :value="form.description"

                                        v-model="form.description"

                                          :placeholder="`Video content description`"

                                            ref="descriptionTrixEn"


                                          ></wysiwyg>
								  
								  </div>

								  <p class="invalid-feedback"

                                  	v-if="form.errors.has('description')"

                                  	v-text= "form.errors.get('description')">

                                  </p>


								  <div class="form-group">

								  	<wysiwyg

                                    :name="`description_ar`"



                                      :value="form.description_ar"

                                        v-model="form.description_ar"

                                          :placeholder="trans('courses.createDescription')"

                                            ref="descriptionTrixAr"


                                          ></wysiwyg>
								  
								  </div>

								   <p class="invalid-feedback"

                                  	v-if="form.errors.has('description_ar')"

                                  	v-text= "form.errors.get('description_ar')">

                                  </p>



								  <div class="form-group ">
                        			
                        			<label for="video_url" >Video url</label>
                        
                               		 <input 

                               		 type="text"

                               		 class="form-control"


                               		 name="video_url"

                               		 v-model="form.yt_url"

                               		 value=""

                               		 placeholder="https://www.domainname.com/slug"
                               		 />
                            	  
                            	  </div>


                            	  <p class="invalid-feedback"

                                  	v-if="form.errors.has('yt_url')"

                                  	v-text= "form.errors.get('yt_url')">

                                  </p>

									      <div class="form-group">
                              
                              <label for="gitHubLink" >GitHub link</label>
                        
                                   <input 

                                      type="text"

                                        class="form-control"
                                        
                                          name="gitHubLink"

                                            v-model="form.gitHubLink"

                                              value=""

                                                placeholder="https://www.domainname.com/slug"
                                   />
                                
                                </div>


                                <p class="invalid-feedback"

                                    v-if="form.errors.has('gitHubLink')"

                                    v-text= "form.errors.get('gitHubLink')">

                                  </p> 								


                 <div class="row" >



                 	<div class="col-md-6">

                   <div class="form-group">

                      <label for="title">


                        {{ trans('courses.position') }}


                      </label>

                      <select

                            id="position"

                              name="position"



                                v-model = "form.position"

                                  class="form-control"  >

                          <option value="">{{ trans('threads.choose') }}</option>


                          <option

                            v-if="positions"

                            v-for="index in positions" :key="index"


                              :value="index"

                              v-text="index"

                            >


                          </option>

                        </select>

                      </div>


                        <p class="invalid-feedback"

                                  v-if="form.errors.has('position')"

                                  v-text= "form.errors.get('position')">

                                </p>


              	</div>
                 	

              		<div class="col-md-6">


              			<div class="form-group">
								      
								      <label for="visibility">Visibility</label>
								      
								      <select 

								       id="visibility"

								       name="visibility"

								       class="form-control"

								       v-model="form.visibility"  

								       >
								      
								       <option value='' selected>Choose...</option>
								      
								       
								      
								       <option value="1">Private</option>

								       <option value="2">Unlisted</option>
								        
								       <option value="3">Public</option>

								      </select>

								  </div>


								  <p class="invalid-feedback"

                                  	v-if="form.errors.has('visibility')"

                                  	v-text= "form.errors.get('visibility')">

                                  </p>
              			



              		</div>




                </div> 	


                      <div class="row" >
                 
                 <div class="col-md-3">

                    <label for="custom-toggle">

                        {{ trans('channels.shortName') }}

                      </label>
                   

                 </div>

                 <div class="col-md-3">

                  <label class="custom-toggle">


                
                  <input type="checkbox" v-model="form.locked" >
                  
                  <span class="custom-toggle-slider rounded-circle"></span>
              
                </label>
                   

                 </div>


                 <p class="invalid-feedback"

                                    v-if="form.errors.has('locked')"

                                    v-text= "form.errors.get('locked')">

                                  </p>


               </div>

                 
                    
								    
                           
                        
                 			
								  
								      


								   <div class="level">
								  	
								    <button

                            			type="submit"

                              			:disabled="form.errors.any()"

                               			 class="btn btn-primary">



                          					{{ trans('threads.publish') }}

                        				</button>
								    
								    
									</div>

				</div>

		</form>


	</div>
	


</template>



<script type="text/javascript">


	export default{

		props:['course'],

		data(){

			return {


				form : new Form({

				  	uid: null,

				  	is_youtube: 1,

					title: '',

					title_ar: '',

					description: '',

					description_ar: '', 

					visibility: '',

					position : '', 

					yt_url: '',

					gitHubLink:'',

					locked: false,


			    }),

			    positions: null ,
 
				failed: false,

				saveStatus: '' ,
				
				stored: false,

				



			};

		}, 

		mounted(){

			dd(this.course.channel.slug, 'Iam course slug')

			dd(this.course.slug, 'Iam course slug')

			this.fetchPosition();

		}, 

		computed:{

			storeEndPoint(){

				return `/api/courses/${this.course.channel.slug}/${this.course.slug}/videos`;
			},

			updateEndPoint(){

				return `/api/videos/${this.uid}`;

			},


			videoPath(){

				return `${this.storeEndPoint}/${this.uid}`;
			}, 

			nextPositionEndPoint(){

				return `/api/courses/${this.course.slug}/position`;

			}




		},

		methods:{

			fetchPosition(){

		          axios.get(this.nextPositionEndPoint)

		              .then( ({data}) => {

		                this.positions = data.position;


		            })

		          .catch(  error => {

		                dd(error, 'iam error here of hitting channel end point');



		          });

      		},




			persist(){

			
				this.failed = false;

				this.form.post(this.storeEndPoint)

				          .then( ({data}) => {

				            this.uid = data.uid;

							this.stored = true;

							this.form.is_youtube = true;

							this.form.locked = false;

							this.fetchPosition();

							this.touchStatus('Video details stored successfully')



				          })

				          .catch((error) => {

				                this.failed = true;

				                this.form.is_youtube = true;
				                this.form.locked = false;

								this.touchStatus('Something went wrong');

				          });

				

			},




			touchStatus(status){

				this.saveStatus = status;

				setTimeout(()=>{

					this.saveStatus = '';

				}, 3000);
			},


		}




	}
	

</script>



<style type="text/css">
	

</style>