<template>
 
  <card   



   type="course">
 
    <p class="card-text">
 
    </p>
 
    <div class="author">
 
      <div class="block block-one"></div>
 
      <div class="block block-two"></div>
 
      <div class="block block-three"></div>
 
      <div class="block block-four"></div>

        
        <course-image 

          v-if="course"

          :value="course.image_filename"

          @loaded="onLoad">
          


        </course-image>

        <h5 class="title">Synac course name</h5>
 
 
      <p class="description">

        Synac course description
 
      </p>
 
    </div>
 
    <p></p>
 
    <p class="card-description">
 
      Synac course description here
 
    </p>
 
  </card>

</template>

<script>

  import CourseImage from '../../../components/ImageUpload2'

  export default {

    components: {

      CourseImage

    },

    props: {
      
      course: {
      
        type: Object,
      
        default: () => {
      
          return {};
      
        }
      
      }
    
    },

    computed:{

      endpoint(){

        return `courses/${this.course.slug}/image`;
             
      }

    },

    methods:{

      onLoad(image){
      
      

        this.persist(image.file);

      
      },

      persist(image){

        let data = new FormData();

        data.append('image', image);


        axios.post(this.endpoint, data)

            .then(() => {

              this.$toaster.success('Course Image Uploaded!.')

            })
      }

    }
  
  }

</script>

<style>

</style>
