<template>

  <card>
    

      <form 

          method="POST"

            class="form-orange"

              action=""

                  @submit.prevent="persist"
                  
                      @keydown = "form.errors.clear($event.target.name)"

                          @change = "form.errors.clear($event.target.name)"

                          >

           
            <div class="row">

              <div class="col-md-6 pr-md-1">

                  <div class="form-group">

                      <label for="title">

                        {{ trans('team.profession') }}

                      </label>

                      <input

                       type="text"

                        v-if="ready"

                        class="form-control"

                        name="profession"

                          id="profession"

                            v-model = "form.profession"

                      >

                    </div>

                      <p class="invalid-feedback"

                                  v-if="form.errors.has('profession')"

                                  v-text= "form.errors.get('profession')">

                      </p>


              </div>

              <div class="col-md-6 pl-md-1">


                  <div class="form-group">

                      <label for="title">

                        {{ trans('team.profession_ar') }}

                      </label>

                      <input

                       type="text"

                        class="form-control"

                        v-if="ready"

                        name="profession_ar"

                          id="profession_ar"

                            v-model = "form.profession_ar"

                      >

                    </div>

                      <p class="invalid-feedback"

                                  v-if="form.errors.has('profession_ar')"

                                  v-text= "form.errors.get('profession_ar')">

                                </p>


              </div>


            </div>



            <div class="row">

              <div class="col-md-6 pr-md-1">

                  <div class="form-group">

                      <label for="title">


                        {{ trans('courses.englishName') }}

                      </label>

                      <input

                       type="text"

                        class="form-control"

                        name="name"

                          v-if="ready"

                           id="name"

                            v-model = "form.name"

                      >

                    </div>

                      <p class="invalid-feedback"

                                  v-if="form.errors.has('name')"

                                  v-text= "form.errors.get('name')">

                                </p>


              </div>

              <div class="col-md-6 pl-md-1">


                  <div class="form-group">

                      <label for="title">

                        {{ trans('courses.arabicName') }}

                      </label>

                      <input

                       type="text"

                        v-if="ready"

                        class="form-control"

                          name="name_ar"

                            id="name_ar"

                            v-model = "form.name_ar"

                      >

                    </div>

                      <p class="invalid-feedback"

                                  v-if="form.errors.has('name_ar')"

                                  v-text= "form.errors.get('name_ar')">

                                </p>


              </div>


            </div>



            <div class="row">

              <div class="col-md-6 pr-md-1">

                  <div class="form-group">

                      <label for="title">


                        {{ trans('team.linkedInAccount') }}

                      </label>

                      <input

                       type="text"

                        v-if="ready"

                        class="form-control"

                        name="linkedInAccount"

                          id="linkedInAccount"

                            v-model = "form.linkedInAccount"

                      >

                    </div>

                      <p class="invalid-feedback"

                                  v-if="form.errors.has('linkedInAccount')"

                                  v-text= "form.errors.get('linkedInAccount')">

                                </p>


              </div>

              <div class="col-md-6 pl-md-1">


                  <div class="form-group">

                      <label for="title">

                        {{ trans('team.facebookAccount') }}

                      </label>

                      <input

                       type="text"

                        class="form-control"

                        v-if="ready"

                        name="facebookAccount"

                          id="facebookAccount"

                            v-model = "form.facebookAccount"

                      >

                    </div>

                      <p class="invalid-feedback"

                                  v-if="form.errors.has('facebookAccount')"

                                  v-text= "form.errors.get('facebookAccount')">

                      </p>


              </div>


            </div>


            <div class="row">

              <div class="col-md-6 pr-md-1">

                  <div class="form-group">

                      <label for="title">


                        {{ trans('team.twitterAccount') }}

                      </label>

                      <input

                       type="text"

                        class="form-control"

                        v-if="ready"

                        name="twitterAccount"

                          id="twitterAccount"

                            v-model = "form.twitterAccount"

                      >

                    </div>

                      <p class="invalid-feedback"

                                  v-if="form.errors.has('twitterAccount')"

                                  v-text= "form.errors.get('twitterAccount')">

                                </p>


              </div>

              <div class="col-md-6 pl-md-1">


                  <div class="form-group">

                      <label for="title">

                        {{ trans('team.gmail') }}

                      </label>

                      <input

                       type="text"

                        class="form-control"

                          v-if="ready"

                        name="gmail"

                          id="gmail"

                            v-model = "form.gmail"

                      >

                    </div>

                      <p class="invalid-feedback"

                                  v-if="form.errors.has('gmail')"

                                  v-text= "form.errors.get('gmail')">

                      </p>


              </div>


            </div>


            <div class="row">

              <div class="col-md-10">

                   <div class="form-group">


                        <wysiwyg

                           :name="`description`"

                            :id="`description`"


                           v-if="ready"

                             @customKeyDown="handler"

                             :value="form.description"

                               v-model="form.description"

                                 :placeholder="`Course content description in english`"

                                   ref="descriptionTrix"


                                 ></wysiwyg>

                                 <p class="invalid-feedback"

                                  v-if="form.errors.has('description')"

                                  v-text= "form.errors.get('description')">

                                </p>



                      </div>


          

              </div>

              </div>


              <div class="row">

              <div class="col-md-10">

                   <div class="form-group">


                          <wysiwyg

                                    :name="`description_ar`"

                                      :id="`description_ar`"

                                      v-if="ready"

                                      @customKeyDown="handler"

                                      :value="form.description_ar"

                                        v-model="form.description_ar"

                                          :placeholder="trans('courses.createDescription')"

                                            ref="descriptionTrixAr"


                                          ></wysiwyg>

                                          <p class="invalid-feedback"

                                              v-if="form.errors.has('description_ar')"

                                              v-text= "form.errors.get('description_ar')">

                                            </p>


                      </div>


          

              </div>


              


              </div>



               


              <div class="row">
              
            


               <div class="col-md-6">

                 <label for="position">


                        {{ trans('courses.position') }}


                      </label>

                      <select

                            id="postion"

                              name="postion"



                                v-model = "form.position"

                                  class="form-control"  >

                          <option value='' >{{ trans('threads.choose') }}</option>


                          <option

                            v-if="positions"

                              v-for="index in positions" :key="index"

                                :value="index"

                                  v-text="index"

                            >


                          </option>

                        </select>

                      </div>


                        <p class="invalid-feedback"

                                  v-if="form.errors.has('position')"

                                  v-text= "form.errors.get('position')">

                                </p>
                
                
              

               <div class="col-md-6">

                  <div class="form-group">
                      
                      <label for="visibility">Visibility</label>
                      
                      <select 

                       id="visibility"

                       name="visibility"

                       class="form-control"

                       v-model="form.visibility"  

                       >
                      
                       <option value='' selected>Choose...</option>
                      
                       
                      
                       <option value="1">Private</option>

                       <option value="2">Unlisted</option>
                        
                       <option value="3">Public</option>

                      </select>

                  </div>


                  <p class="invalid-feedback"

                                    v-if="form.errors.has('visibility')"

                                    v-text= "form.errors.get('visibility')">

                                  </p>

                
       


              </div>

            </div>

            </div>

            <button

                          style="margin: 10px;"

                            type="submit"

                              :disabled="form.errors.any()"

                                class="btn btn-primary">



                          {{ trans('threads.publish') }}

                        </button>

            

          </form>
  </card>
</template>




<script type="text/javascript">



  export default{

    data(){

      return {

        old: [],

        form : new Form({

          profession: '',

          profession_ar: '',

          linkedInAccount:'', 

          facebookAccount:'',

          twitterAccount:'',

          gmail:'',

          name  : '',

          name_ar : '',

          description: '',

          description_ar: '',

          position: '',

          visibility: '',

          

        }),

        positions: null,

        ready: false,

        failed: false,
        
        updated: false,

        new: null


      };

    },

    mounted(){ 

      this.fetchPosition();

      this.fetchMemberData();


    } ,

    computed:{

      endPoint(){

        return `/api/team/${this.$route.params.slug}`;

      }

    }, 


    methods:{

      fetchMemberData(){

        axios.get(this.endPoint)
          
          .then( ({data}) => {




            this.old = data.member;

            this.form = new Form({


                  profession: data.member.profession,

                  profession_ar: data.member.profession_ar,

                  linkedInAccount: data.member.linkedInAccount, 

                  facebookAccount: data.member.facebookAccount,

                  twitterAccount: data.member.twitterAccount,

                  gmail: data.member.gmail,

                  name  : data.member.name,

                  name_ar : data.member.name_ar,

                  description: data.member.description,

                  description_ar: data.member.description_ar,

                  position: data.member.position,

                  visibility: data.member.visibility,

                })




            this.ready = true;







            
          })
          
          .catch(  error => {
                      
            dd(error, 'iam error here of hitting channel end point');
               
          });

      },

     fetchPosition(){

          axios.get(`/api/member/position`)

              .then( ({data}) => {


                this.positions = data.position;


            })

          .catch(  error => {

                dd(error, 'iam error here of hitting channel end point');



          });

      },

      persist(){

      
        this.failed = false;


        this.form.patch(this.endPoint)
          
          .then( ({data}) => {

            this.updated = true;

            this.new = data.newTeamMemberData;

            this.$emit('posted', data.newTeamMemberData)
            
            flash('Member Updated successfully')


          
          })
          
          .catch((error) => {

                this.failed = true;

                flash('Something went wrong', 'danger');

          });



      },

      handler(name){

        this.form.errors.clear(name);

      }


    },


  }

  




  
</script>


<style>

</style>
