<template>
 
  <card   



   type="member">
 
    <p class="card-text">
 
    </p>
 
    <div class="author">
 
      <div class="block block-one"></div>
 
      <div class="block block-two"></div>
 
      <div class="block block-three"></div>
 
      <div class="block block-four"></div>

        
        <member-image 

          v-if="member"

            :value="path(member.photographs, this.type ) "

              @close="error = false"

                @loaded="onLoad">
          


        </member-image>

        <h5 class="title"> {{ this.title }} </h5>


        <p class="invalid-feedback"

                                  v-if="error"

                                  v-text= "error_msg">

                                </p>
 
 
      <p class="description">

        Synac member description
 
      </p>
 
    </div>
 
    <p></p>
 
    <p class="card-description">
 
      Synac member description here
 
    </p>
 
  </card>

</template>

<script>

  import MemberImage from '../../../components/ImageUpload2'

  export default {

    components: {

      MemberImage

    },

    props: {
      
      member: {
      
        type: Object,
      
        default: () => {
      
          return {};
      
        }
      
      },

      type: {

        type: String

      },

      title:{

        type: String

      },

    
    },


    data(){


      return {

        error : false,

        error_msg : '',

      } ;     




    }, 

    computed:{

      endpoint(){

        return `/api/team/${this.member.slug}/image`;
             
      }

    },

    methods:{

      onLoad(image){
      
      

        this.persist(image.file);

      
      },

      persist(image){

        let data = new FormData();

        data.append('image', image);


        data.append('type', this.type);


        axios.post(this.endpoint, data)

            .then(() => flash('member Image Uploaded!'))

            .catch( (error) => {


              dd(error, 'errors here')

              this.error = true;

              this.error_msg = "This image is not valid format ";


            });

      },

      path(colloction , hint){


          let image = _.find(colloction, ['type', hint]);


          if(image){

            return image.path;
            
          }

          return ``;



        }



    }
  
  }

</script>

<style>

</style>
