<template>
  
  <div class="row">
    
    <div class="col-md-8">

       <h5  class="title">

        create

      <!-- {{ trans('courses.create') }} -->



      </h5>

    
      <create-course-form  

            @posted="setCourseData">
    
               </create-course-form>
    
    </div>

    <div class="col-md-4">

      <course-card 

        :course="course" 

          v-if="updateImageUrl" 

           v-model = "course"

            ></course-card>

    </div>

  </div>

</template>


<script>
  
  import CreateCourseForm from './Partials/CreateCourseForm';
  
  import CourseCard from './Partials/CourseCard'
  

  export default {
  
    components: {
  
      CreateCourseForm,
  
      CourseCard
    },
  
    data() {
  
  

      return {


        updateImageUrl: false,

        course: null
        
  

      }
  

    },

    methods:{

      setCourseData(posted){


          this.updateImageUrl = 1;

          this.course =  posted;

      }

    }
  

  }
</script>
<style>
</style>
