<template>


	<div>

	 <div id="hero" class="intro" 

        style="height: 400px; background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);">
    
        <div class="container intro-text">
            <div class="row">
                <div class="col-md-12">
                
                    <h1 class="h1 wow zoomInDown">{{ trans('courses.hint') }}</h1>

              
                    
                    <p class="post-data" style="font-size: 1rem">

                    	{{ trans('courses.indexMotiviation') }}

                    </p>
                
                </div>
            </div>
        </div>
        
        <a href="javascript:;" id="skip-intro"></a>
    
    </div>

		<!--
			Content section area
		-->
		<div id="content-wrapper">

			<div id="headroom-top-here">
				

			</div>

						<!--
				Portfolio
			-->
			<div class="section" id="works" >
			
				<div class="portfolio">
				
					<div class="portfolio-header style-left">
					
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
								
									<!--
										Section header
									-->
									
									
									<!--
										Portfolio filters
									-->
									<div class="filters">
										
										 <!-- <a href="javascript:;" data-filter=".item" class="selected">
											
											<span class="line_wrap">
											
												<span class="line"></span>
												
												{{ trans('courses.all') }}
											
											</span>
										</a>  -->
										
										<a

										class="learning-path" 

										v-for=" channelId  in Object.keys(courses)  "

										:key ="`path-${channelId}`"

										href="javascript:;" :data-filter="`.path-${channelId}`">
										
											<span class="line_wrap">
										
												<span class="line"></span>

												<!-- ` path-${value}  ` -->
												
												{{ channelName(channelId)  }}
										
											</span>
										</a>
										
										<!-- <a href="javascript:;" data-filter=".filter-web-design">
											<span class="line_wrap">
												<span class="line"></span>

												{{ trans('courses.javascriptToNode') }}

											</span>
										</a>
										<a href="javascript:;" data-filter=".filter-apps">
											<span class="line_wrap">
												<span class="line"></span>
												
												{{ trans('courses.nodeToReactAndVue') }}
												
											</span>
										</a>
										
										<a href="javascript:;" data-filter=".filter-development">
											
											<span class="line_wrap">
												
												<span class="line"></span>

												{{ trans('courses.reactToReactNative') }}
												
											</span>
										
										</a> -->


									</div>
								
								</div>
							</div>
						</div>
						
					</div>
					
					<!--
						Portfolio justified gallery
					-->
					<div class="portfolio-gallery">


						<template v-for=" (values, key) in courses "  >


							<div 

								v-for=" (course, index) in values  "

								:key="`course-${key}-${index}`"

									:class="`item path-${key}`"  >
						
										<img :src="course.image_filename" alt="" />
								
											<div class="caption">
									
												<h4 class="text-center"> {{ curLangVal('name', course) }} </h4>
										
												<a :href="path(course)" class="lightbox">
													
													<i class="far fa-play-circle fa-spin fa-3x "></i>

												</a>
										
												<div class="tags">
										
													<a :href="path(course)"> 

														{{ curLangVal('name', course) }}

													 </a>

													<p class="text-center"> {{  course.JoinedCount > 11 ?  course.JoinedCount : 11 }} student joined </p>
									
												</div>
								
											</div>
							
							</div>
							


						</template>
					</div>
					
					<div class="portfolio-pagination">
						<a href="javascript:;" class="portfolio-load-more"><i class="icon"></i> <span>Load More Works</span></a>
					</div>
				
				</div>
			
			</div>


		</div>


	</div>


	



</template>


<script type="text/javascript">

	
	export default{

        data(){

            return {

                courses : [],

                channels : [],


            };


        },

        mounted(){


        	this.fetchChannels();

            this.fetch();

        },

        computed:{

            endPoint(){

                return `/api/courses`;

            }


        },


        methods:{

        	fetchChannels(){


		        axios.get('/api/channels')
		          
		          .then( ({data}) => {


		            this.channels = data.channels;

		            
		          })
		          .catch(  error => {
		                      
		            dd(error, 'iam error here of hitting channel end point');
		               
		          });

		      },



            fetch(){

                

                axios.get(this.endPoint)
                    
                    .then( ({data}) => {


              

                        this.courses = data.courses;






                        
                    })
                    .catch(  error => {
                                            
                        dd(error, 'iam error here of hitting channel end point');
                             
                    });




            },

            path(course){


                return  `/courses/${course.channel.slug}/${course.slug}`;

            },

            channelName(id){

            	

            	let channelId = parseInt(id);
            	
            	let channel = _.find(this.channels, ['id', channelId]);


            	return this.curLangVal('name', channel);

            }



        }



	}



</script>


<style type="text/css">


	


</style>