<template>
  
  <div class="row">

    
    <div class="col-md-8">

      <h5  class="title">

        Updating

      <!-- {{ trans('courses.create') }} -->



      </h5>
    
    
      <edit-course-form 
 
          :test =" `test here again` "

          :course = "course"

          v-model="course"

          @posted="setNew">
    
          </edit-course-form>
    
    </div>

    <div class="col-md-4">

      <course-card 

           :course = "course"

            >

              </course-card>

    </div>

  </div>

</template>


<script>
  
  import EditCourseForm from './Partials/EditCourseForm';
  
  import CourseCard from './Partials/CourseCard'
  

  export default {
  
    components: {
  
      EditCourseForm,
  
      CourseCard
    
    },
  
    data() {
  
  

      return {


        updateImageUrl: false,

        course: null
        
  

      }
  

    },

    computed:{

      endPoint(){

        return `/api/courses/${this.$route.params.slug}`;

      }

    }, 

    created(){

      this.fetch();

    },

    methods:{

      fetch(){

        axios.get(this.endPoint)
          
          .then( ({data}) => {


            this.course = data.course;

            
          })
          
          .catch(  error => {
                      
            dd(error, 'iam error here of hitting channel end point');
               
          });

      },

      setNew(posted){


          this.updateImageUrl = 1;

          this.course =  posted;

      }

    }
  

  }
</script>
<style>
</style>
